.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.tab-container {
  width: 300px;
  min-height: 100%;
  position: fixed;
  top: 85px;
  z-index: 1;
  background-color: #61a5c2;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.mediaview {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }

  .fas.fa-align-justify {
    font-size: 2rem;
    margin-top: 0.6rem;
    cursor: pointer;
  }

  .main-heading {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
  }

  .fas.fa-cocktail {
    font-size: 2.6rem;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
  }

  .far.fa-user {
    font-size: 2rem;
    margin-top: 0.8rem;
    cursor: pointer;
  }

  .user-input {
    padding: 0.6rem 2rem;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border-style: none;
    margin-bottom: 2rem;
  }
}

@media all and (min-width: 768px) {
  .mediaview {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    max-width: 900px;
  }

  .column-half {
    padding: 0 1rem;
    width: 50%;
  }
}
